<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="automaticStart" value="true"/>
      <add key="logPath" value="logs/mainlog.log"/>
    </appSettings>
    <connectionStrings>
      <!--Network-->
      <add name="serverPort" connectionString="00000"/>
      <add name="protocolDelimiter" connectionString="*"/>
      <add name="dataDelimiter" connectionString="*"/>
      <add name="aesKey" connectionString="**********"/>
      <!--Database-->
      <add name="databaseDriver" connectionString="mysql"/>
      <add name="databaseAdress" connectionString="000.000.000.000"/>
      <add name="databasePort" connectionString="0000"/>
      <add name="databaseUser" connectionString="xyuser"/>
      <add name="databasePass" connectionString="*********************"/>
      <add name="databaseDefaultDB" connectionString="databaseName"/>
    </connectionStrings>
</configuration>