<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.net" version="0.7.0" targetFramework="net461" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net461" />
  <package id="NUnit" version="3.6.1" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net452" />
  <package id="SonarAnalyzer.CSharp" version="5.10.1.1411" targetFramework="net452" developmentDependency="true" />
</packages>